/* Styles for the header */

header {
  background-color: blue;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

/* Styles for the main content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50%;
  margin-bottom: 1000px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.positioning-type {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  display: none;
}

.positioning-type h2 {
  margin-top: 0;
  font-size: 24px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: green;
  border: 1px solid #ccc;
}

/* Styles for the different types of positioning */
.static .box {
  position: static;
  left: 50px;
  top: 50px;
}

.relative .box {
  position: relative;
  left: 50px;
  top: 50px;
}

.absolute .box {
  position: absolute;
  top: 50px;
  left: 50px;
}

.fixed .box {
  position: fixed;
  top: 50px;
  left: 50px;
}

/* Styles for the footer */
footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: blue;
}
